@import "../variables.scss";

.container {
  display: flex;
  padding-top: 40px;
  padding-bottom: 48px;
  justify-content: space-between;
  height: 100%;
  flex-wrap: nowrap;
  overflow: hidden;

  .categories {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    overflow: scroll;
    // padding: 0 12px;
    margin-left: 12px;
  }

  .subCategories {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 100%;
    flex: 2;
    overflow-y: hidden;
    color: $white;
    background-color: $sectionEerieBlack;
    border-radius: 4px;
    margin: 0 16px;
  }
}
