@import "../variables.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}

.default {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: $noColor;
  border-radius: 4px;
  margin: 4px;
}

.selected {
  @extend .default;

  outline: 2px solid $white;
  outline-offset: 2px;
}
