// Colors
$primaryBrightGreen: #62ff2b;
$backgroundBlack: #000000;
$sectionEerieBlack: #1f1f1f;
$textGrey: #8c8c8c;
$buttonGrey: #404040;
$buttonPlatinum: #e8e7e7;
$white: #ffffff;
$highlightGreen: #3ae000;
$captionGreen: #a5dd97;
$warningYellow: #ffc700;
$danger: #de1515;
$toastedBlack: #141414;
$noColor: #c4c4c4;

// Font sizes
$fontsize-xxs: 9px;
$fontsize-xs: 12px;
$fontsize-sm: 14px;
$fontsize-md: 16px;
$fontsize-lg: 18px;
$fontsize-xl: 20px;
$fontsize-xxl: 24px;
$fontsize-xxxl: 32px;

//  Line heights
$lineheight-xxs: 12px;
$lineheight-xs: 22px;
$lineheight-sm: 24px;
$lineheight-md: 26px;
$lineheight-lg: 28px;
$lineheight-xl: 30px;
$lineheight-xxl: 34px;
$lineheight-xxxl: 44px;

//  Font weights
$fontweight-regular: 400;
$fontweight-semibold: 600;
$fontweight-extrabold: 800;
